$color-grey--1: #FAFAFA;
$color-grey--3: #E0E0E0;
$color-grey--5: #9E9E9E;
$color-grey--7: #616161;
$color-grey--9: #212121;

$font-primary-safe: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-primary: "Source Sans Pro", $font-primary-safe;
